.size-bar {
  position: relative;
  display: flex;
  flex: 2;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  color: white;
  border-radius: 8px;
  background-color: var(--scrim);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.size-bar label {
  width: 40px;
}

.size-bar:focus-within {
  outline: none;
}

.size-bar input {
  flex: 1;
  border: none;
  margin: 0 0 0 12px;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 1px; /* Specified height */
  background: rgba(255, 255, 255, 0.3);
  outline: none; /* Remove outline */
}

@media screen and (max-width: 558px) {
  .size-bar input {
    margin: 0 auto;
  }

  .size-bar label {
    display: none;
  }
}

.size-bar input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  padding: 6px;
  border-radius: 50%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: height 0.1s, width 0.1s;
}

.size-bar input::-moz-range-thumb {
  appearance: none;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  padding: 6px;
  border-radius: 50%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: height 0.1s, width 0.1s;
}

.size-bar input:focus::-moz-range-thumb {
  outline: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  box-shadow: 0 0 0 6px var(--sheer);
}

.size-bar input:focus::-webkit-slider-thumb {
  outline: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  box-shadow: 0 0 0 6px var(--sheer);
}
