.grid-container {
  position: relative;
  padding: 32px 16px;
  /* min-height: 80vh; */
  content-visibility: auto;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1120px;
  margin: auto;
}

.grid-item {
  display: flex;
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  /* transition: background-color 100ms ease; */
}

.grid-item:hover {
  background-color: rgba(163, 159, 171, 0.1);
}

.grid-item:focus {
  outline: none;
  border: 2px solid rgba(163, 159, 171, 0.1);
}

.grid-item p {
  font-size: 12px;
  line-height: 16px;
  color: #86838b;
  margin-top: 12px;
  text-align: center;
}

@media screen and (max-width: 536px) {
  .grid-container {
    padding: 32px 8px;
  }

  .grid-item {
    width: 108px;
    height: unset;
    padding: 4px 0;
    justify-content: flex-start;
    border: 2px solid transparent;
  }

  .grid-item p {
    padding: 0 4px;
  }
}

.info-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 0px;
  margin: 0 4px;
  border-radius: 16px;
  background-color: rgba(163, 159, 171, 0.1);
}

@media screen and (max-width: 1023px) {
  .icon-preview {
    display: none !important;
  }

  .icon-usage {
    padding-left: 10% !important;
  }

  .snippet pre {
    padding: 12px 8px 12px 20px;
  }
}

.icon-preview {
  width: 30%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.icon-preview p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.icon-preview > p.name {
  font-size: 16px;
}

.versioning {
  margin-top: 2px;
  opacity: 0.6;
}

.icon-usage {
  flex: 1;
  padding: 56px 10% 56px 0;
}

.snippet {
  margin-bottom: 24px;
}

.snippet pre {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  color: black;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.snippet pre:focus {
  animation: select 50ms step-end forwards;
}

@keyframes select {
  to {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
  }
}

.snippet span {
  flex: 1;
}

.snippet button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 24px;
  cursor: pointer;
}

.snippet button:disabled {
  cursor: not-allowed;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
}

.button-row button {
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  margin: 0 48px 0 0;
  padding: 0;
  height: 48px;
  cursor: pointer;
}

.button-row button svg {
  margin-right: 8px;
}

.close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  text-align: end;
  cursor: pointer;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  min-height: 80vh;
  max-width: 1120px;
  margin: auto;
  white-space: nowrap;
}

.empty-list p {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.beacon {
  position: relative;
  top: -96px;
}

aside.detail-footer {
  position: sticky;
  bottom: 16px;
  margin: auto;
  max-width: 1120px;
  display: grid;
  grid-template-columns: 144px 1fr 160px;
}

.detail-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.detail-actions {
  padding: 16px;
}
