.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  /* min-height: 100vh; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 8px;
  background-color: white;
  /* transition: background-color 0.5s ease; */
}

.grid-item:hover {
  /* background-color: aquamarine; */
  /* transition: background-color 0.5s ease; */
}
