.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button.tag-button {
  margin: 4px;
  border-radius: 4px;
  background-color: var(--sheer);
  outline: none;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  color: var(--foreground);
}

button.tag-button:hover {
  background-color: var(--soft);
}

button.tag-button:focus-visible {
  box-shadow: 0 0 0 1px var(--soft);
}

.tag-button code {
  padding: 4px;
  font-size: 12px;
}
