/* .style-select {
  position: relative;
}

.style-select {
  background-color: gold;
  border-radius: 24px;
  box-shadow: 4px 4px #ccc;
  display: none;
}

.style-select option {
  background-color: gold;
  border-radius: 24px;
  display: none;
} */

.react-dropdown-select {
  width: 176px !important;
  height: 48px !important;
  justify-content: flex-start;
  padding: 0 24px !important;
  color: white;
  border-radius: 8px !important;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 16px;
  border: none !important;
}

@media screen and (max-width: 558px) {
  .react-dropdown-select {
    width: 100% !important;
  }
}

.react-dropdown-select-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.react-dropdown-select-content svg {
  margin: 0 12px 0 0;
}

.react-dropdown-select:focus-within {
  background-color: white;
  color: black;
  outline: none !important;
  box-shadow: none !important;
}

/* .react-dropdown-select-type-single {
  height: 100% !important;
} */

/* .react-dropdown-select-clear,
.react-dropdown-select-dropdown-handle {
  color: #fff;
} */

/* .react-dropdown-select-option {
  border: 1px solid #000;
} */

.react-dropdown-select-item {
  color: #333;
  height: 40px !important;
  display: flex;
  align-items: center;
}

.react-dropdown-select-item svg {
  margin: 0 12px 0 24px;
}

.react-dropdown-select-input {
  color: #fff;
}
.react-dropdown-select-dropdown {
  position: absolute;
  left: 0;
  border: none;
  width: 500px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px !important;
  max-height: 300px;
  overflow: auto;
  z-index: 9;
  /* background: rgb(29, 20, 20) !important; */
  box-shadow: none;
}
.react-dropdown-select-item {
  color: black;
}
.react-dropdown-select-item:hover {
  background-color: #ffd171 !important;
}

.react-dropdown-select-item.react-dropdown-select-item-selected,
.react-dropdown-select-item.react-dropdown-select-item-active {
  color: black !important;
  background-color: #ffd171 !important;
}

.react-dropdown-select-item:focus {
  color: black !important;
  background-color: #ffd171 !important;
}

.react-dropdown-select-item.react-dropdown-select-item-disabled {
  background: #777;
  color: #ccc;
}
