section.info {
  margin: 72px auto 96px;
  width: 66.67%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 96px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin: 0 0 8px;
}

p {
  margin-top: 0;
}

ul {
  margin: 0 0 32px;
  list-style: circle outside;
  padding-left: 32px;
}

.feature {
  display: flex;
  margin-bottom: 96px;
}

.feature h3 {
  flex: 1;
  margin: 0;
  padding-right: 40px;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.feature-contents {
  flex: 3;
  padding-top: 6px;
  font-size: 20px;
  line-height: 30px;
}