.tabs {
  display: flex;
  flex-direction: column;
}

.tabs:has(button.tab:first-child:hover) .tab-content {
  border-top-left-radius: 0;
}

.tabs:has(button.tab:last-child:hover) .tab-content {
  border-top-right-radius: 0;
}

.tabs-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

button.tab {
  all: unset;
  padding: 6px 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 2;
}

button.tab:focus-visible {
  outline: 1px solid currentColor;
}

button.tab:hover:not(.active) {
  background-color: var(--hover-tabs);
}

button.tab.active {
  background-color: var(--background-layer);
  border-bottom: none;
}

.tab-content {
  flex: 1;
  height: 86px;
  max-height: 86px;
  padding: 20px 20px 10px;
  border-radius: 8px;
  background-color: var(--background-layer);
  overflow-y: auto;
}

@media screen and (max-width: 719px) {
  .tabs {
    flex: 1;
  }

  .tab-content {
    height: unset;
    max-height: unset;
  }
}
