.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

button.tab {
  all: unset;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

button.tab:focus-within {
  /* background-color: var(--tabs-background); */
}

.tab.active {
  background-color: var(--tabs-background);
  border-bottom: none;
}

.tab-content {
  flex: 1;
  padding: 8px 16px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  background-color: var(--tabs-background);
  overflow-y: auto;
}
