.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--stone);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 0 0 var(--moss-shadow);
}

.toolbar-contents {
  width: 83.33%;
  max-width: 1120px;
  padding: 0 0 8px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.toolbar-contents > * {
  margin: 8px 4px 0;
}

@media screen and (max-width: 558px) {
  .toolbar-contents {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
