.toolbar {
  position: sticky;
  top: 0px;
  padding: 8px;
  background-color: #f2f2f2;
  border: 1px 0px 1px solid black;
  z-index: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
