/* @font-face {
  font-family: Manrope;
  src: url('https://fonts.googleapis.com/css2?family=Manrope') format('woff2');
} */

html {
  font-variant-ligatures: common-ligatures;
}

::selection {
  color: white;
  background-color: black;
}

body {
  margin: 0px;
  font-family: "Manrope";
}

pre,
code {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: "black";
}

pre {
  box-sizing: border-box;
  padding: 20px 16px 20px 24px;
  margin: 12px 0px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #E1D4D7;
}

input {
  font-family: "Manrope";
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.main-button {
  height: 64px;
  width: 240px;
  margin: 0 24px 0 0;
  background-color: white;
  border-radius: 8px;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 4px 4px 0 0 black;
  transform: translate(0, 0);
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
}

button.main-button:active {
  transform: translate(4px, 4px);
  /* background-color: #DDDDDD; */
  box-shadow: 0 0 0 0 black;
}

button.main-button:focus {
  outline: none;
}

a.main-link {
  text-decoration: none;
  position: relative;
  color: black;
}

a.main-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  transition: 0.2s;
}

a.main-link:hover:after {
  width: 0%;
}
