html {
  background-color: #FAFAFA;
}

body {
  margin: 0px;
  font-family: monospace;
}

button,
select {
  margin: 4px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 24px;
  background-color: white;
}

button > * {
  vertical-align: middle;
}

button:focus,
select:focus {
  outline: none;
  border: 1px solid violet;
  border-radius: 24px;
}

button:hover {
  color: white;
  background-color: black;
}
button:active {
  background-color: darkmagenta;
}

input[type="color"] {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

input[type="color" i] {
  -webkit-appearance: square-button;
  padding: 4px;
  width: 25px;
  height: 25px;
}

input[type="color"]:focus {
  outline: none;
  border: 1px solid violet;
}

pre {
  padding: 4px;
  background-color: gainsboro;
}

/* .color-picker {
  padding: 0px;
  background-color: white;
  height: 32px;
  width: 32px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  margin: 4px;
} */

/* input {
  margin: 4px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 24px;
  background-color: transparent;
}

input:focus {
  outline: none;
  border: 2px solid violet;
  border-radius: 24px;
} */
