.search-bar {
  display: flex;
  flex: 2;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.search-bar:focus-within {
  outline: none;
  color: black !important;
  background-color: white !important;
}

.search-bar input {
  height: 100%;
  flex: 1;
  border: none;
  margin-left: 12px;
  padding: 0;
  font-size: 16px;
  color: white;
  background-color: transparent !important;
  text-overflow: ellipsis;
}

::placeholder {
  color: white !important;
}

.search-bar input:focus {
  outline: none;
  color: black;
}

.search-bar input::placeholder {
  color: black;
}

.clear-icon {
  cursor: pointer;
}

.wait-icon {
  cursor: wait;
}

@media screen and (max-width: 558px) {
  #search-icon {
    display: none;
  }

  .search-bar input {
    margin-left: 0;
    width: 60%;
  }
}
