.search-bar {
  display: flex;
  flex: 2;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  color: white;
  background-color: var(--scrim);
}

.search-bar:focus-within {
  outline: none;
  color: black !important;
  background-color: white !important;
}

.search-bar:focus-within .keys {
  display: none;
}

.search-bar input {
  height: 100%;
  flex: 1;
  border: none;
  margin: 0 12px;
  padding: 0;
  font-size: 16px;
  color: white;
  background-color: transparent !important;
  text-overflow: ellipsis;
}

::placeholder {
  color: white !important;
}

.search-bar input:focus {
  outline: none;
  color: black;
}

.search-bar input::placeholder {
  color: black;
}

.clear-icon {
  cursor: pointer;
}

.wait-icon {
  cursor: wait;
}

.keys {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 42px;
  font-size: 12px;
}

@media screen and (max-width: 558px) {
  #search-icon {
    display: none;
  }

  .search-bar input {
    margin-left: 0;
    width: 60%;
  }
}

@media screen and (min-width: 858px) and (max-width: 1100px) {
  .search-bar {
    flex-basis: 320px;
  }
}
