header {
  height: 1435px;
  width: 100%;
  background-color: #ffd171;
  overflow: hidden;
  /* display: block; */

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.intro {
  width: 660px;
  position: absolute;
  transform: translate(143px, 392px);
}

.intro h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 32px;
}

div.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 56px 0 0;
}

.links a:not(:first-child) {
  margin-left: 48px;
}

a.nav-link {
  text-decoration: none;
  position: relative;
  color: black;
}

a.nav-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.2s;
}

a.nav-link:hover:after {
  width: 100%;
}


.image-container {
  position: relative;
  width: 1366px;
  height: 100%;
  margin: auto;
}

.inspectable {
  cursor: cell;
}

#marker-purple {
  position: absolute;
  transform: translate(143px, -158px);
}

#tablet {
  position: absolute;
  transform: translate(577px, -900px);
}

#billiard-ball {
  position: absolute;
  transform: translate(917.83px, 359.83px);
}

#warning {
  position: absolute;
  transform: translate(1184px, 421px);
}

#paperclips {
  position: absolute;
  transform: translate(982px, 621px);
}

#cutting-mat {
  position: absolute;
  transform: translate(119px, 825px);
}

#receipt {
  position: absolute;
  transform: translate(-5px, 1016px);
}

#calculator {
  position: absolute;
  transform: translate(924px, 940px);
}