nav {
  display: flex;
  align-items: center;
  height: 96px;
  width: 83.33%;
  margin: auto;
}

nav > div {
  flex: 1;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: baseline;
}

.title h1 {
  font-size: 24px;
  line-height: 32px;
  margin: 0px 16px 0px 8px;
}

.title small {
  margin-top: 4px;
  color: #b2b2b2;
  font-size: 16px;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding-right: 32;
  text-align: end;
}

.links a:not(:first-child) {
  margin-left: 48px;
}

a.nav-link {
  text-decoration: none;
  position: relative;
  color: black;
}

a.nav-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.2s;
}

a.nav-link:hover:after {
  width: 100%;
}
