footer {
  width: 100%;
  background-color: #925bff;
  overflow: hidden;
  position: absolute;
}

@media screen and (min-width: 1280px) {
  .outro {
    position: relative;
    width: 666px;
    margin: 160px auto 324px;
  }

  .outro h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  .fine-print {
    margin: 96px 0 0;
    font-size: 20px;
    line-height: 30px;
  }

  #back-to-top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-212px, 0);
  }

  #back-to-top-button {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }

  #marker-green {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(384px, 500px);
  }
  
  #phone {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-80px, 500px);
  }

  #command {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(706px, 360px);
  }
}

/* .outro-container {
  position: relative;
  width: 1366px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.outro-container img {
  user-select: none;
}

.outro {
  width: 660px;
  position: absolute;
  top: 104px;
  left: 320px;
}

.outro h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 32px;
}

.fine-print {
  margin: 104px 0 0;
  font-size: 20px;
  line-height: 30px;
}

#back-to-top {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(120px, 104px);
}

#back-to-top-button {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

#marker-green {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(240px, 424px);
}

#phone {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-211px, 414px);
}

#command {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1213px, 464px);
} */