footer {
  color: var(--moss);
  background-color: var(--sand);
}

#back-to-top-button {
  width: 140px;
  height: 140px;
  margin: 0;
  border-radius: 50%;
  z-index: 2;
  font-size: 56px;
  justify-content: center;
  padding: 0 30px;
}

#back-to-top-button:active {
  transform: translate(2px, 2px) !important;
  box-shadow: 0 0 0 0 var(--moss-shadow);
}

#back-to-top-button svg {
  margin-right: 0 !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.outro {
  position: relative;
  max-width: 666px;
  margin: 0 8% 0;
  padding-top: 72px;
}

.outro p {
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 32px;
}

footer .links {
  margin: 56px 0 48px;
}

.fine-print {
  position: relative;
  margin: 104px 0 0;
  overflow: hidden;
}

.fine-print p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 56px;
  margin: 0;
}

.illustrations-footer {
  position: absolute;
  overflow-y: hidden;
  width: 300px;
  margin: auto;
  bottom: 0;
  left: -456px;
  height: 490px;
}

.ruler-marker {
  position: absolute;
}

@media screen and (min-width: 720px) {
  .outro {
    margin: 0 auto;
  }

  .fine-print {
    margin-top: 72px;
  }

  #back-to-top-button {
    position: absolute;
    left: 70px;
    top: -56px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1239px) {
  .illustrations-footer {
    height: 600px;
    left: -320px;
  }

  .ruler-marker {
    bottom: -216px;
  }
}

@media screen and (min-width: 1239px) {
  .outro {
    margin-left: 462px;
  }

  #back-to-top-button {
    position: absolute;
    left: 190px;
    top: 348px;
  }
}

@media screen and (max-width: 719px) {
  #back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    font-size: 28px;
  }

  footer .links {
    margin: 0 0 64px;
  }

  .fine-print {
    margin-top: 48px;
  }

  .illustrations-footer {
    display: none;
  }
}
