.banner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  color: white;
  margin: auto;
  z-index: 1;
}

.banner {
}

.banner .main-button {
  height: unset;
  min-height: 64px;
  margin: 8px 0 0;
}

.banner a {
  color: inherit;
}

.banner-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 560px;
  margin: auto;
  padding: 12px 12px 12px 16px;
  color: var(--moss);
  background-color: var(--acid);
  border: 1px solid var(--moss);
  border-radius: 32px;
  filter: drop-shadow(2px 2px 0 var(--moss-shadow));
  font-family: "IBM Plex Mono";
  font-size: 14px;
}

.banner-button {
  color: inherit;
  background-color: unset;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.banner-button:active {
  opacity: 0.7;
}

.message {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  gap: 12px;
}
