.banner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  color: white;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}

.banner ::selection {
  background-color: var(--moss-shadow);
}

.banner .main-button {
  height: unset;
  min-height: 64px;
  margin: 8px 0 0;
}

.banner a {
  color: inherit;
}

.banner-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 800px;
  margin: auto;
  padding: 12px 12px 12px 16px;
  color: var(--moss);
  background-color: var(--acid);
  border: 1px solid var(--moss);
  border-radius: 16px;
  filter: drop-shadow(2px 2px 0 var(--moss-shadow));
  font-family: "IBM Plex Mono";
  font-size: 14px;
  pointer-events: initial;
}

.banner-button {
  color: inherit;
  background-color: unset;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.banner-button:active {
  opacity: 0.7;
}

.message {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 719px) {
  .banner-container {
    padding: 0;
    gap: 0;
  }

  .banner-content {
    align-items: flex-start;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--moss);
    margin: 0;
    max-width: unset;
  }

  .message {
    align-items: flex-start;
  }
}
